body{
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 600px;
    position: relative;
}
.area{
    position: absolute;
    margin-left: 35%;
    margin-top: 19%;
    width: 520px;
    height: 320px;
    border-radius: 30px;
    

    .zone1{
        margin: 0px auto;
        width: 70%;
        height: 100px;
    }
    
    .zone2{
        margin: 0px auto;
        
    }
    ul{
        margin: auto auto;
        font-size: 20px;
    }
}